@color-strongest:   rgb(239, 241, 245); /* Statusbar, tab bar */
@color-stronger:    rgb(242, 244, 247);
@color-strong:      rgb(244, 246, 249); /* Sidebar */
@color-weak:        rgb(247, 249, 252); /* Editor */
@color-weakest:     rgb(249, 251, 255);

@color-text-strongest:   rgb(79, 91, 102);
@color-text-stronger:    rgb(83, 96, 107);
@color-text-strong:      rgb(87, 100, 112);
@color-text-weak:        rgb(91, 105, 117);
@color-text-weakest:     rgb(95, 109, 122);

@color-button:              rgb(224, 226, 229);
@color-button-hover:        rgb(227, 228, 232);
@color-button-active:       rgb(229, 231, 234);

@list-tree-selected:  rgb(224, 226, 229);
@list-tree-active:    rgb(224, 226, 229);
@color-list:          rgb(229, 231, 234);

@color-textbox:     @color-stronger;

@scrollbar-pane:        rgb(224, 226, 229);
@scrollbar-thumb:       rgb(249, 251, 255);
@scrollbar-thumb-hover: rgb(247, 249, 252);